.bg-breadcrumb {
    background-size: cover;
    background-position: center;
    padding: 130px 0 130px;
}
 .bg-breadcrumb .title-page h2 {
    font-family: Molengo;
    font-size: 45px;
    font-weight: 400;
    color: #ffffff;
    position: relative;
}
a { cursor: pointer; }
.pagination {
   justify-content: center;
   flex-wrap: wrap;
}
.product .img-product .img-product-hover {
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
  .product-item-v1 .product .details-info {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.4s ease 0s;
  }
  .product-item-v1 .product .details-info .product-icon-action {
    display: flex;
    align-items: center;
  }
  .product-item-v1 .product .details-info .product-icon-action .add-wishlist {
    margin-right: 20px;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  .product-item-v1 .product .details-info .product-icon-action .add-wishlist a {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    outline: 0px;
    box-sizing: border-box;
    transition: color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, transform 0.3s cubic-bezier(0.78, 0.2, 0.21, 0.88) 0s;
    padding: 15px;
    border-radius: 50%;
    white-space: nowrap;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 20px 0px;
  }
  .product-item-v1 .product .details-info .product-icon-action .add-to-cart {
    margin-right: 20px;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  .product-item-v1 .product .info-product2 .title-product {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 15px !important;
  }
  .product-item-v1 .product .info-product2 .title-product a {
    font-family: Molengo;
    font-size: 14px;
    font-weight: 700;
    color: #1e1e1e;
  }
  .product-item-v1 .product .img-product {
    overflow: hidden;
    transition: .3s;
    position: relative;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .section-newsletter-v1 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-position: center;
  }
  .section-newsletter-v1 .title_newletter h3 {
    font-size: 42px;
    color: #1e1e1e;
    text-align: center;
    font-family: Molengo;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .section-newsletter-v1 .content {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #1e1e1e;
    padding-top: 5px;
  }
  .section-newsletter-v1 .newletter_email form {
    width: 100%;
    position: relative;
  }
  .section-newsletter-v1 .newletter_email form .form-group .form-control {
    padding: 25px 15px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    border: none;
    font-size: 12px;
    font-weight: 700;
    color: #495057;
    background-color: #fff;
  }
  .section-newsletter-v1 .newletter_email form .form-group .form-control {
    width: 100%;
  }
  .section-newsletter-v1 .newletter_email form .form-group {
    width: 100%;
  }
  .section-newsletter-v1 .newletter_email form .btn {
    position: absolute;
    right: 0;
    top: 50%;
    height: 50px;
    line-height: 32px;
    border: 2px solid #f9b5b2;
    background-color: #f9b5b2;
    font-size: 12px;
    cursor: pointer;
    transform: translateY(-50%);
    color: #fff;
    border-radius: 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .3s;
  }
   .content-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .list-inline {
    padding-left: 0;
    list-style: none;
  }
  .content-banner .button-shop {
    text-decoration: none;
    display: inline-block;
    padding: 11px 17px;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 25px;
    font-size: 12px;
    font-weight: 600;
    transition: .3s;
  }
  .info-top h3 {
    font-family: Molengo;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: unset;
    color: #1e1e1e;
  }
  .content-banner1.left {
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
  }
  .section-banner-v4 .box-info .content-banner1.left .title {
    font-size: 35px;
    font-weight: 700;
    font-family: Molengo;
    color: #1e1e1e;
  }
  .section-banner-v4 .box-info .content-banner1.left .info-bottom {
    margin-top: 10px;
  }
  .absolute-text {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .title_heading {
    font-size: 35px;
    font-weight: 700;
    color: #f9b5b2;
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
  }
  .slick-slider {
    width: 100%;
    margin: auto;
    background: white;
  }
  
  body .slick-prev, 
  body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
  }
 .title_collection {
    margin: 45px 0;
}
.title_collection h3 {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  font-family: Molengo;
}
.btn_show_all {
  align-items: center;
  margin: 45px 0;
}
.btn_show_all a {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  font-family: Molengo;
}
.breadcrumb_collection .bg-breadcrumb .title-page h2:before {
  content: "";
  height: 2px;
  width: 74px;
  position: absolute;
  left: 50%;
  bottom: -15%;
  transform: translateX(-50%);
  background: #ffffff;
}
.wrap-bread-crumb .bread-crumb {
  padding: 30px 0;
}
.bread-crumb strong {
  text-transform: uppercase;
  color: #ffffff;
  font-family: Molengo;
  font-size: 13px;
  color: #666666;
  font-weight: 600;
}